/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:bef
ore,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  /* background-color: red; */
  border-left: 50px solid white;
  border-right: 50px solid white;
  border-top: 50px solid white
}
nav {
  font-family: 'Piedra', cursive;
  text-align: right;
}
.nav-bar a{
  margin-right: 10px;
}
  .section-one {
    background-color: #e9ecef;
  }
  #mk2-pic {
    margin-left: 50px;
    margin-top: 50px;
    
  }
  .name-career {
    font-size: 40px;
    margin-left: 50px;
    font-family: 'Pacifico', cursive;
    font-family: 'Piedra', cursive;
    margin-top:10px;
  }
.name-motto {
  font-size: 30px;
  margin-left: 50px;
  margin-top: 10px;
  font-family: 'Pacifico', cursive;
}
.container {
  margin-bottom: 20px;
}
hr {
  margin-top: 20px;
}
.name-objective {
  font-size: 20px;
  margin-left: 50px;
  font-family: 'Piedra', cursive;
  margin-top: 10px;
}
#section-one-button {
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition-duration: 0.4s;
  border-radius: 2px;
  font-family: 'Piedra', cursive;
}
#section-one-button:hover {
  background-color: black;
  color: white;
  border-radius: 4px; ;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.div-section-two h1{
  margin-left: 50px;
}
.div-section-two {
  display:block;

}